.characters-page {
  text-align: center;
  &__toggle-btn {
    font-size: 2vw;
    font-weight: 600;
    padding: 1%;
    margin: 1.5% 0 2%;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      font-weight: 700;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5vw;
    list-style: none;
    padding: 0;
  }
  &__loading {
    font-size: 8vw;
  }
}
